 version: 2.1

 orbs:
   aws-s3: circleci/aws-s3@1.0.15

 terra_image: &terra_image
   hashicorp/terraform:0.12.14

 work_dir: &work_dir
   /tmp/workspace

 default_config: &default_config
   docker:
     - image: *terra_image
   working_directory: *work_dir

 jobs:
   build:
     <<: *default_config
     steps:
       - checkout
       - run:
           name: apply terraform files
           command: |
              cd pipelineterra
              terraform init
              terraform plan -input=false -out=terraplan
              terraform apply -input=false terraplan