 version: 2.1

 orbs:
   aws-s3: circleci/aws-s3@1.0.15

 terra_image: &terra_image
   hashicorp/terraform:0.12.14

 work_dir: &work_dir
   /tmp/workspace

 default_config: &default_config
   docker:
     - image: *terra_image
   working_directory: *work_dir

 jobs:
   build1:
     docker:
       - image: circleci/ruby:2.4.1
     steps:
       - checkout
       - run:
           name: get credentials
           command: |
              echo 'export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID' >> $BASH_ENV
              echo 'export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY' >> $BASH_ENV

   build2:
     <<: *default_config
     steps:
       - checkout
       - run:
           name: apply terraform files
           command: |
              cd pipelineterra
              terraform init
              terraform 0.12upgrade
              terraform plan -input=false -out=terraplan
              terraform apply -input=false terraplan

 workflows:
   version: 2.1
   tf_build:
     jobs:
       - build1
       - build2:
           requires:
             - build1