 version: 2.1

 orbs:
   aws-s3: circleci/aws-s3@1.0.15

 terra_image: &terra_image
   hashicorp/terraform:0.12.14

 work_dir: &work_dir
   /tmp/workspace

 default_config: &default_config
   docker:
     - image: *terra_image
   working_directory: *work_dir

 set_environment:
   run:
     name: get credentials
     command: |
       cd && touch $BASH_ENV
       echo 'export aws_access_key_id=$aws_access_key_id' >> $BASH_ENV
       echo 'export aws_secret_access_key=$aws_secret_access_key' >> $BASH_ENV
       echo 'region = "eu-west-2"' >> $BASH_ENV
       echo 'output = "json"' >> $BASH_ENV
 jobs:
   build:
     <<: *default_config
     steps:
       - checkout
       - run:
           name: apply terraform files
           command: |
              cd pipelineterra
              terraform init
              terraform plan -input=false -out=terraplan
              terraform apply -input=false terraplan
#
# workflows:
#   version: 2.1
#   tf_build:
#     jobs:
#       - build1
#       - build2:
#           requires:
#             - build1