 version: 2.1

 orbs:
   aws-s3: circleci/aws-s3@1.0.15

 terra_image: &terra_image
   hashicorp/terraform:0.12.20

 work_dir: &work_dir
   /tmp/workspace

 default_config: &default_config
   docker:
     - image: *terra_image
   working_directory: *work_dir
   environment:
     BASH_ENV: /root/.bashrc

 set_env_dev: &set_env_dev
   run:
     name: get credentials
     command: |
       echo 'export AWS_ACCESS_KEY_ID=$aws_access_key_id' >> $BASH_ENV
       echo 'export AWS_SECRET_ACCESS_KEY=$aws_secret_access_key' >> $BASH_ENV

 terraform_init: &terraform_init
   run:
     name: terraform init
     command: |
       mkdir -p ~/.ssh && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
       source $BASH_ENV
       cd pipelineterra
       terraform init
       terraform 0.12upgrade

 terraform_plan: &terraform_plan
   run:
     name: terraform plan
     command: |
       source $BASH_ENV
       cd pipelineterra
       terraform plan -input=false -out=terraplan

 terraform_apply: &terraform_apply
   run:
     name: terraform apply
     command: |
       source $BASH_ENV
       cd pipelineterra
       terraform apply terraplan

 jobs:
   build:
     <<: *default_config
     steps:
       - checkout
       - *set_env_dev
       - *terraform_init
       - *terraform_plan
       - *terraform_apply